In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [17]:
dataset = pd.read_csv(r'C:\Users\Sachin Rattewal\Documents\ML_Flask_WebApp\mydata.csv')

In [18]:
dataset

    rate  sales_in_first_month  sales_in_second_month  sales_in_third_month
0    NaN                     2                    500                   300
1    NaN                     4                    300                   650
2   four                   600                    200                   400
3   nine                   450                    320                   650
4  seven                   600                    250                   350
5   five                   550                    200                   700

In [19]:
dataset['rate'].fillna(0, inplace=True)

In [20]:
dataset['sales_in_first_month'].fillna(dataset['sales_in_first_month'].mean(), inplace=True)

X = dataset.iloc[:, :3]

def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['rate'] = X['rate'].apply(lambda x : convert_to_int(x))

In [35]:
y = dataset.iloc[:, -1]

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

regressor.fit(X, y)

pickle.dump(regressor, open('mymodel.pkl','wb'))

model = pickle.load(open('mymodel.pkl','rb'))
print(model.predict([[4, 300, 500]]))

[143.3072588]